In [22]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn import model_selection

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/eggplantbren/STATS331/master/Code/Regression/road.txt', header=None, sep='\t' )

In [8]:
road_data = df.values

In [13]:
X = road_data[:, 0]

In [16]:
m = X.shape[0]

In [17]:
X = np.reshape(X, (m,1))

In [15]:
Y = road_data[:, 1]

In [24]:
X = preprocessing.scale(X)

In [25]:
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=.3, random_state=26)

In [32]:
def cost_function(X, Y, theta):
    return (1/(2*X.shape[0]))*np.sum((np.dot(X, theta) - Y)**2)

In [37]:
def batch_gradient_descent(X, Y, alpha=.001, error=1e-9):
    (m,n) = X.shape
    
    X = np.hstack([np.ones((m,1)), X])
    Y = np.reshape(Y, (m,1))
    
    theta = np.zeros((n+1,1))
    
    no_of_iterations = 0
    
    while True:
        cost_prev = cost_function(X, Y, theta)
        theta -= (alpha/m)*np.dot(X.T, np.dot(X, theta)-Y)
        cost_curr = cost_function(X, Y, theta)
        
        if abs(cost_prev - cost_curr) < error:
            break
        no_of_iterations += 1
    
    return (theta, no_of_iterations)

In [41]:
def stochastic_gradient_descent(X, Y, alpha=.001, error=1e-9):
    (m,n) = X.shape
    
    X = np.hstack([np.ones((m,1)), X])
    Y = np.reshape(Y, (m,1))
    
    theta = np.zeros((n+1,1))
    
    no_of_iterations = 0
    
    # shuffle the data
    np.random.shuffle(X)
    
    i = 0
    while i<m:
        cost_prev = cost_function(X,Y, theta)
        theta -= alpha* np.reshape(X[i, :], (n+1, 1))* (np.dot(X[i, :], theta) - Y[i,:])[0]
        cost_curr = cost_function(X, Y, theta)
        if abs(cost_prev - cost_curr) < error:
            break
        no_of_iterations += 1
    return (theta, no_of_iterations)

In [43]:
(theta_batch, no_of_iterations_batch) = batch_gradient_descent(X_train, Y_train)

In [44]:
(theta_stochastic, no_of_iterations_stochastic) = stochastic_gradient_descent(X_train, Y_train)

In [45]:
theta_batch

array([[424.29632776],
       [-71.25498888]])

In [46]:
no_of_iterations_batch

14033

In [47]:
theta_stochastic

array([[228.28685258],
       [127.94986796]])

In [48]:
no_of_iterations_stochastic

18601

In [50]:
df.corr()

          0         1
0  1.000000 -0.801245
1 -0.801245  1.000000

In [51]:
df.corr?